# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vssscc
*.vspscc
*.vslog
*.vsidx

# Installer and temp
installer/
appstate.json

# Binaries
# ytb-bin binaries (yt-dlp is OK, ffmpeg/ffplay/ffprobe are too large for GitHub)
!yt-bin/yt-dlp.exe
yt-bin/ffmpeg.exe
yt-bin/ffplay.exe
yt-bin/ffprobe.exe
yt-bin/innosetup-*.exe

# System
.DS_Store
Thumbs.db
